body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', sans-serif;
    background-color: #ffd2e1;
    color: #3c3939;
    overflow-x: hidden;
}

button{
    background-color: #fb79a4;
    color: #2b2727;
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile{
    margin: 50px;
    border-radius: 25px;
    background: linear-gradient(#bb6ce0, #6668e8);
}
